*, 
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    position: relative;
}

.aside {
    flex: 1 1 20%;
    background-color: #6493ce;
    height: 100%;
    padding: 30px 20px;

    &__title {
        text-transform: uppercase;
        font-size: 30px;
        color: #fff;
        font-weight: 400;
    }
}

.main {
    flex: 2 1 80%;
    padding: 30px 0 0 100px;
}

.block {
    margin-bottom: 50px;
    &__title {
        font-weight: 100;
        font-size: 18px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding-bottom: 5px;
        margin-bottom: 20px;
    }
}

.question-form {
    margin-bottom: 50px;
    &__input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
}

.input-box {
    height: 50px;
    position: relative;
    overflow-x: hidden;

    &__label {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        pointer-events: none;
        color: #a2a6a2;
        border-bottom: 4px solid #e16868;

        &::after {
            content: "";
            border-bottom: 4px solid #6493ce;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 4px;
            left: 0;
            transform: translateX(-100%);
            transition: transform 0.5s ease;
        }
    }

    &__label-text {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
        font-size: 18px;
    }
    
    &__input {
        width: 100%;
        height: 100%;
        color: #7e847e;
        border: none;
        padding-top: 20px;
        outline: none;
        font-size: 18px;

        &:focus + .input-box__label .input-box__label-text,
        &:not(:placeholder-shown) + .input-box__label .input-box__label-text {
            transform: translateY(-200%);
            color: #6493ce;
            font-size: 12px;
        }

        &:focus + .input-box__label::after,
        &:valid + .input-box__label::after {
            transform: translateX(0);
        }        
    }
}

.button {
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    position: relative;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);

    &__text {
        position: relative;
        color: #000;
        font-size: 22px;
        letter-spacing: 6px;
        z-index: 1;
    }

    &:not(:disabled) {
        &:hover .button__liquid {
            top: -120px;
        }

        .button__text {
            color: #fff;
        }

        .button__liquid {
            position: absolute;
            left: 0;
            top: -80px;
            width: 200px;
            height: 200px;
            box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
            background: #4973ff;
            transition: 0.5s;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 200%;
                height: 200%;
                top: 0;
                left: 50%;
                transform: translate(-50%, -75%);
            }   

            &::before {
                border-radius: 45%;
                background: rgba(20,20,20,1);
                animation: liquid 5s linear infinite;
            }
            &::after {
                border-radius: 40%;
                background: rgba(20,20,20,0.5);
                animation: liquid 10s linear infinite;
            }
        }
    }

    &:active {
        transform: translate(2px, 3px);
    }
}

@keyframes liquid {
    0% {
        transform: translate(-50%, -75%) rotate(0);
    } 100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.question-list {
    &__question {
        margin-bottom: 30px;
    }
}
.question {
    &__date {
        font-size: 14px;
        color: #32629f;
        margin-bottom: 10px;
    }
}

.modal-button {
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #3288be;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        background-color: #72b2da;
    }

    &:active {
        transform: scale(0.8);
        background-color: #18425c;
    }
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;

    &__modal-window {
        position: absolute;
        width: 500px;
        height: 400px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}